// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-form{
  width:500px;
}
@media (max-width: 767px) {
  .dropdown-form{
    width: inherit;
  }
}

.navbar form input {
  margin: 0;
  height: auto;
}

body > .container{
  padding-top: 60px;
}